$background_color: cyan;

body {
	// Move down content because we have a fixed navbar that is 50px tall
	padding-top: 80px;

	// Offset the footer a bit off the bottom on long pages
	padding-bottom: 20px;

}

.panel-toplogin {
	padding: 15px;
	display: none;
	
	// Make it float over everything else, so it doesn't push stuff down
	position: absolute;
	// z-index: 1;
	top: 2px;

	// h1 {
	// 	margin-top: 0;
	// 	text-transform: uppercase;
	// 	font-size: 18px;
	// 	border-bottom: 1px solid #ddd;
	// }

	.col-md-6 {
		padding-left: 0;
		padding-right: 0;
	}

	.input-group {
		padding-bottom: 5px;
	}
	padding-bottom: 10px; // We do this because the above leaves 5px extra we don't want

	input[type="checkbox"] {
		margin-right: 5px;
		margin-top: 3px;
	}
}

footer {
	display: flex;

	&> [class='col-md-2'] {
		ul {
			padding-left: 0;
			list-style-type: none;
		}
		border-left: 2px solid #ddd;
	}

}

.mta-navbar-links li:nth-last-child(1) {
	border-left: 1px solid #404040;
	height: 100%;
}

#login-btn {
	cursor: pointer;
}

// This is for the resource previews on the homepage
.home-resource-previews {
	margin-bottom: 15px;
}

// Source: https://scotch.io/bar-talk/bootstrap-3-tips-and-tricks-you-still-might-not-know#optionally-remove-the-gutter-padding-from-columns
.no-gutter > [class*='col-'] {
	padding-right:0;
	padding-left:0;
}