$background_color: cyan;

body {
	// Move down content because we have a fixed navbar that is 50px tall
	padding-top: 50px;

	// Offset the footer a bit off the bottom on long pages
	padding-bottom: 20px;
}

.card-toplogin {
	padding: 15px;
	display: none;
	
	// Make it float over everything else, so it doesn't push stuff down
	position: absolute;
	// z-index: 1;
	top: 2px;

	// h1 {
	// 	margin-top: 0;
	// 	text-transform: uppercase;
	// 	font-size: 18px;
	// 	border-bottom: 1px solid #ddd;
	// }

	.col-md-6 {
		padding-left: 0;
		padding-right: 0;
	}
}

footer {
	display: flex;

	&> [class='col-md-2'] {
		ul {
			padding-left: 0;
			list-style-type: none;
		}
		border-left: 2px solid #ddd;
	}

}

.noborder {
	border: none;
}

.mta-navbar-links .mta-separated-nav-item {
	border-left: 1px solid #454545; //was 404040
	height: 100%;
}

#mta-auth {
	text-align: center;
}

form.mta-inline-form {
	display: inline
}

.mta-content {
	margin-top: 40px;
}

#mta-register-form, #mta-login-form {
	.input-group {
		padding-bottom: 5px;
	}
	padding-bottom: 10px; // We do this because the above leaves 5px extra we don't want

	input[type="checkbox"] {
		margin-top: 3px;
	}
}

.table-href > tbody > tr {
	cursor: pointer;
}

.mta-profile-btn {
	display: inline;
}

.col-centre {
	margin: 0 auto;
	float: none;
}

.mta-card-table {
	margin-bottom: 0;
}

.mta-nopadding {
	padding: 0;
}


// Reference: https://stackoverflow.com/questions/27411581/centering-no-captcha-recaptcha
#mta-register-form .g-recaptcha > div > div {
	width: 50%;
	margin: 0 auto;
    display: block
}

// This is for the resource previews on the homepage
.home-resource-previews {
	margin-bottom: 15px;
}

// Source: https://scotch.io/bar-talk/bootstrap-3-tips-and-tricks-you-still-might-not-know#optionally-remove-the-gutter-padding-from-columns
.no-gutter > [class*='col-'] {
	padding-right:0;
	padding-left:0;
}

// Fix the wigglewigglewiggle
// Refrence: https://github.com/FortAwesome/Font-Awesome/issues/671#issuecomment-166481441
.fa-refresh.fa-spin {
	transform-origin: 49% 48.5%;
}